.App {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 1024px;
  background-color: #282c34;
}
.welcome {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  img {
    border-radius: 20px;
  }
}

header {
  padding-bottom: 10px;
  border-bottom: red solid 2px;
  .top-header {
    .welcomeButton {
      margin-left: 30px;
      background-color: #eddeb7;
      padding: 0px 10px;
      border-radius: 10px;
    }
    img {
      height: 40px;
    }
    padding-top: 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #282c34;
    color: white;
  }
  .subHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .subHeaderUp {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    // margin-bottom: 10px;
    div {
      padding: 5px 10px;
      border: gold 1px solid;
      background-color: white;
      border-radius: 5px;
    }

    .voyelImg {
      height: 20px;
    }
    .subscriptImg {
      height: 30px;
    }
    .superscriptImg {
      height: 30px;
    }
  }
  .page-buttons {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    gap: 15px;
    div {
      padding: 10px;
      background-color: red;
      color: white;
      border-radius: 10px;
    }
  }
  .page-buttons div:hover {
    transform: scale(1.05);
  }
}

.alphabet {
  height: 100vh;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: white;
    font-size: 20px;
    background-color: black;
    padding: 5px 10px;
    margin: 20px 0px;
    border-radius: 10px;
  }
  .line {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 20px;
    height: 65px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10%;
      font-size: 20px;
      width: 50px;
      background-color: white;
    }
    div:hover {
      transform: scale(1.05);
    }
  }
}

.letterSpan {
  height: 100%;
  padding: 20px 0px;
  font-size: 45px;
}
.wylieSpan {
  // height: 100%;
  // padding: 20px 0px;
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
